/*--------------------------------------------------------------
# Color
--------------------------------------------------------------*/

$background-body: #ffffff;
$color-background-hr: #ccc;
$color__text-main: #000000;







/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
$font__main:'Alegreya', serif;;
$font__secondary:'Open Sans', sans-serif;;

$font__heading:"https://fonts.googleapis.com/css?family=Alegreya:400,500,700&display=swap";
$font__line-height-body: 2;
$font__line-height-pre:2.5;

/*--------------------------------------------------------------
# Structure
--------------------------------------------------------------*/
$size__site-main: 100%;
$size__site-sidebar: 25%;